.App {
  text-align: center;
  background-color: lavender;
  font-family: "Roboto Mono", monospace;
}

#header {
  width: 100vw;
  height: 50px;
  background-color: lavender;
  /* position: fixed; */
}

#bookchart {
  width: 30px;
  height: 30px;
  font-family: "Roboto Mono", monospace;
  /* grid-area: 2/2/4/3; */
}

#bookshelf {
  background-color: lightseagreen;
  font-family: "Roboto Mono", monospace;
  display: grid;
  grid-template-rows: 30px 1fr;
  height: 100%;
  /* display: flex;
  flex-direction: column; */
}

#selectionScreen {
  display: grid;
  grid-template: 30px 1fr / 5% 60% 5% 25% 5%;
}

#searchbar {
  background-color: lightskyblue;
  /* grid-area: 1/2/2/3; */
  text-align: right;
  /* position: fixed; */
}

#booklist {
  background-color: lightsalmon;
  grid-area: 2/2/3/3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: left;
}

#description {
  background-color: lightyellow;
  grid-area: 2/4/3/5;
  height: 100%;
}

.title {
  width: 200px;
  height: 300px;
  background-color: lightsalmon;
  font-style: oblique;
  border-color: transparent;
}

#shopBasket {
  width: 50px;
  height: 50px;
}
